@mixin text-oveflow() {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;  
 }

 @mixin fonts($name) {
   @if $name == 'default' {
     /* 400 14px Roboto, Arial */
     /* DEFAULT APPLICATION FONT. FOR: most cases, incl. input fields */
     font: $font-weight-regular $font-size-regular $font-family;
     letter-spacing: .5px;
   }  
   @else if $name == 'small' {
     /* 400 12px Roboto, Arial */
     /* FOR: chats, comments, search results in file, tables(excl. headers) */
     font: $font-weight-regular $font-size-sm $font-family;    
   }
   @else if $name == 'small-light' {
     /* 300 12px Roboto, Arial */
     /* FOR: management only*/
     font: $font-weight-light $font-size-sm $font-family;    
   }
   @else if $name == 'tiny' {
     /* 400 10px Roboto, Arial */
     /* FOR: labels */
     font: $font-weight-regular $font-size-xs $font-family;
   }
   @else if $name == 'inputs' {
     /* 600 16px Roboto, Arial */
     /* FONT. FOR: input fields */
     font: $font-weight-bold $font-size-lg $font-family;
     letter-spacing: .5px;
   }
   @else if $name == 'messages' {
     /* UPPERCASE 400 13px Roboto, Arial */
     /* FOR: buttons.*/
     font: 300 18px $font-family;
     color: $c-font;
     letter-spacing: 0.5px;
   }
   @else if $name == 'button' {
     /* UPPERCASE 400 13px Roboto, Arial */
     /* FOR: buttons.*/
     font: $font-weight-regular 13px $font-family;
     text-transform: uppercase;
     letter-spacing: 1px;
   }
   @else if $name == 'H4' {
     /* UPPERCASE 500 16px Roboto, Arial */
     /* FOR: open file header */
     font: $font-weight-medium $font-size-lg $font-family;
     text-transform: uppercase;
     letter-spacing: 0.25px;
   }
   @else if $name == 'H3' {
     /* 300 20px Roboto, Arial */
     /* FOR: */
     font: $font-weight-light $font-size-xl $font-family;
     letter-spacing: -0.25px;
   }
   @else if $name == 'H2' {
     /* 300 30px Roboto, Arial */
     /* FOR: */
     font: $font-weight-light $font-size-xxl $font-family;
     letter-spacing: -0.5px;
   }
   @else if $name == 'H1' {
     /* 300 50px Roboto, Arial */
     /* FOR: */
     font: $font-weight-light $font-size-xxxl $font-family;
     letter-spacing: -1px;
   }
   @else if $name == 'table-header' {
     /* UPPERCASE 400 10px Roboto, Arial */
     /* FOR: table */
     font: $font-weight-regular $font-size-xs $font-family;
     text-transform: uppercase;
     color: $c-white;
     letter-spacing: 1px;
   }
   @else if $name == 'placeholder' {
     /* ITALIC 300 14px Roboto, Arial */
     /* FOR: placeholders */
     font: italic $font-weight-light $font-size-regular $font-family; // UNIQUE SIZE TO CENTER VERTICALLY
     color: $c-font-light !important;
   }
   @else if $name == 'mono' {
     /* UPPERCASE 500 9px Roboto Mono */
     /* FOR: tags */
     font: 500 9px $font-family-mono; // unique
     text-transform: uppercase;
     letter-spacing: 1px;
   }
   @else {
     @error 'Unknown font name: #{$name}.';
   }  
 }

 @mixin add-colors-hover-color { 
   &.hover-green { 
     &:hover { color: $c-green  }
   }  
   &.hover-purple{ 
     &:hover { color: $c-purple  }
   }  
   &.hover-yellow { 
     &:hover { color: $c-yellow  }
   }  
   &.hover-blue { 
     &:hover { color: $c-blue  }
   }  
   &.hover-red { 
     &:hover { color: $c-red  }
   }  
 }

 
@mixin add-colors-color { 
   &.green { color: $c-add-green }  
   &.purple { color: $c-add-purple }
   &.yellow { color: $c-add-yellow } 
   &.blue { color: $c-add-blue } 
   &.red { color: $c-add-red }
   &.orange { color: $c-add-orange }
   &.accent {color: $c-accent }
 }