<div class="main-container">

  <div class="card-container">
    <div class="icon-container">
      <img src="assets/icons/star.png" alt="star">
    </div>

    <div class="title-container">
      <h3>How did we do?</h3>
    </div>

    <div class="text-container">
        <p>
          Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!
        </p>
    </div>

    <div class="rating-container">
      <li (click)="addActiveClass($event)" class="rating-icon-container">1</li>
      <li (click)="addActiveClass($event)" class="rating-icon-container">2</li>
      <li (click)="addActiveClass($event)" class="rating-icon-container">3</li>
      <li (click)="addActiveClass($event)" class="rating-icon-container">4</li>
      <li (click)="addActiveClass($event)" class="rating-icon-container">5</li>
    </div>

      <button (click)="submit()">SUBMIT</button>


  </div>
</div>
