.main-container {
  display: grid;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  place-content: center;
  background-color: #131518;

  .card-container {
    display: grid;
    grid-template-rows: 45px 45px 75px 50px 45px;
    padding: 32px;
    margin-bottom: 140px;
    align-content: space-between;

    background-image: radial-gradient(rgba(35, 42, 52, 1) 50%, rgba(24, 30, 39, 1) 100%);
    height: 416px;
    width: 412px;
    border-radius: 30px;
    border: 3px solid black;

    .icon-container {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: grid;
      background-color: rgba(38, 46, 56, 1);

      > img {
        place-self: center;
      }
    }

    .text-container {
      width: 340px;
      margin-top: -22px;

      p {
        line-height: 25px;
      }
    }

    .title-container {
      display: grid;
      align-content: center;
      margin-top: 17px;
      letter-spacing: -1px;
    }

    .rating-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-top: -6px;

      .rating-icon-container {
        height: 51px;
        width: 51px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        place-self: center;
        background-color: rgba(38, 46, 56, 1);
        color: #7c8798;

        &:last-child {
          justify-self: end;
        }

        &:first-child {
          justify-self: start;
        }

        &:hover {
          color: #fff;
          background: rgba(124, 135, 152, 1);
          cursor: pointer;
        }

        &.active {
          background-color: rgba(252, 118, 20, 1);
          color: #fff;
        }
      }
    }

    button {
      color: #fff;
      background-color: rgba(252, 118, 20, 1);
      border: none;
      border-radius: 22.5px;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 2px;
      margin-top: 8px;

      &:hover {
        background-color: #fff;
        color: rgba(252, 118, 20, 1);
        cursor: pointer;
      }
    }
  }
}
