<!-- <div class="main-container">

  <div class="toolbar-container">

    <div class="logo-container">
      <img src="assets/logo.svg">
    </div>

    <div class="features-container">

    <div class="selector-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        Features
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>


    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>Todo List</span>
      </button>
      <button mat-menu-item>
        <mat-icon>calendar_today</mat-icon>
        <span>Calendar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Reminders</span>
      </button>
    </mat-menu>
  </div>

  <div class="company-container">
    <div class="selector-container">
      <button mat-button [matMenuTriggerFor]="menu">Company
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>

      <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
</mat-menu>
  </div>


    <li id="careers">Careers</li>
    <li id="about">About</li>

    <li id="login">Login</li>
    <li id="register">Register</li>

  </div>

  <div class="hero-container">
    <div class="left-container">
      <h1>Make Remote Work</h1>

      <p class="explanation">
        Get your team in sync, no matter your location.
        Streamline processes, create team rituals and watch productivity soar.
      </p>

      <button>Learn more</button>

      <div class="logos-container">
        <img src="assets/client-databiz.svg">
        <img src="assets/client-audiophile.svg">
        <img src="assets/client-meet.svg">
        <img src="assets/client-maker.svg">


      </div>

    </div>



    <div class="right-container">
      <img src="assets/image-hero-desktop.png">

    </div>

  </div>

</div> -->

<!-- <mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Nested Menus</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		Main content that resizes properly
	</div>

</mat-sidenav-container> -->


<nav>
  <a href="/" class="brand">
    <img src="/images/logo.svg" alt="Logo">
  </a>
  <a (click)="openModal()" href="#" class="ham">
    <img src="assets/icon-menu.svg" alt="Open Menu">
  </a>

  <div class="nav-ul">
    <div class="dropdown">
      <a class="dropbtn">
        Features <img src="assets/icon-arrow-up.svg" alt="Arrow Up">
      </a>
      <div class="dropdown-content">
        <a href="#"><img src="assets/icon-todo.svg" alt="" /> TodoList </a>
        <a href="#"><img src="assets/icon-calendar.svg" alt="" /> Calender </a>
        <a href="#"><img src="assets/icon-reminders.svg" alt="" /> reminders </a>
        <a href="#"><img src="assets/icon-planning.svg" alt="" /> Planing </a>
      </div>
    </div>

    <div class="dropdown">
      <a class="dropbtn">
        Company <img src="assets/icon-arrow-up.svg" alt="Arrow Up">
      </a>
      <div class="dropdown-content">
        <a href="#">History</a>
        <a href="#">Our Team</a>
        <a href="#">Blog</a>
      </div>
    </div>
    <a href="#">Careers</a>
    <a href="#">About</a>
  </div>


  <div class="nav-btns">
    <button>Login</button>
    <button>Register</button>
  </div>

</nav>

<div class="overlay">
  <div class="mobile-nav">
    <img (click)="closeModal()" src="assets/icon-close-menu.svg" id="close-Menu">
    <div class="mobile-nav-con">
      <div class="dropdown">
        <div class="dropbtn">
          Features <img src="assets/icon-arrow-up.svg" alt="Arrow Up">
        </div>
        <div class="dropdown-content">
          <a href="#"><img src="assets/icon-todo.svg" alt="" /> TodoList </a>
          <a href="#"><img src="assets/icon-calendar.svg" alt="" /> Calender </a>
          <a href="#"><img src="assets/icon-reminders.svg" alt="" /> reminders </a>
          <a href="#"><img src="assets/icon-planning.svg" alt="" /> Planing </a>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          Company <img src="assets/icon-arrow-up.svg" alt="Arrow Up">
        </div>
        <div class="dropdown-content">
          <a href="#">History</a>
          <a href="#">Our Team</a>
          <a href="#">Blog</a>
        </div>
      </div>
    <a href="#">Careers</a>
    <a href="#">About</a>
    </div>

  </div>
</div>
<div class="hero">
  <div class="hero-text">
    <h1>Make <br /> remote work</h1>
    <p>

  Get your team in sync, no matter your location. Streamline processes,
  create team rituals, and watch productivity soar.
    </p>
    <button>Learn More</button>
    <div class="logos">
      <img src="assets/client-audiophile.svg" alt="">
      <img src="assets/client-databiz.svg" alt="">
      <img src="assets/client-maker.svg" alt="">
      <img src="assets/client-meet.svg" alt="">
    </div>
  </div>
  <div class="img-container">
    <img src="assets/image-hero-desktop.png" id="hero-img">
  </div>
</div>
