<div class="thank-you-container">

  <div class="card-container">
    <div class="image-container">
      <img src="assets/icons/online-payment.png" alt="payment">
    </div>

    <div class="notification-container">
      You selected {{rating}} out of 5
    </div>

    <div class="title-container">
      Thank you!
    </div>

    <div class="text-container">
      <p>
        We appreciate you taking the time to give a rating. If you ever need more support, don’t hesitate to get in touch!
      </p>

    </div>

  </div>

</div>
